@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Lato',
        sans-serif;
    font-family: 'Open Sans',
        sans-serif;
    font-family: 'Work Sans',
        sans-serif;
}

* {
    margin: 0;

}

/* Shared Style */
.btn-primary {

    background-color: rgb(255, 144, 14);
    color: white;
    font-size: 30px;
    border: none;
    padding: 20px;
    border-radius: 10px;

}

.btn-primary a {
    text-decoration: none;
    color: white;
}

.background-color {
    background-color: rgba(245, 161, 64, 0.1);

}

/* Header Section Start */


.nav-section {
    background-color: rgba(245, 161, 64, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.nav-logo {
    font-size: 35px;
}

.nav-logo a {
    text-decoration: none;
    color: rgb(19, 19, 19);
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

ul>li {
    margin: 20px;
}

li>a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.G3 {
    color: rgb(255, 144, 14);
    font-size: 40px;
    border: 10px solid white;
    border-radius: 50px;
    text-align: center;
}

/* Header Section End */

/* Banner Section Start */
.banner-container {
    background-color: rgba(245, 161, 64, 0.1);
    padding: 70px;

}

.banner-section {

    display: block;
    justify-content: center;
    text-align: center;
}

.banner-title {
    font-size: 70px;
    font-weight: 900;
    color: rgb(19, 19, 19);

}

.banner-paragraph {
    margin: 20px 0;
    text-align: center;
    font-size: 20px;

}

.banner-img {
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

/* banner section end */

/* Quick list Features stars */
.quick-list-feature {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-collage {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    margin-top: 30px;
}

.quick-list-text {
    padding: 40px;
}

.quick-list-text h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.quick-list-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* span style */
.quick-list {
    font-weight: 500;
}

.one {}

.two {
    color: darkorange;
}

/* Quick list Features end */

/* Features Section Stars */

.features {
    margin-left: 30px;
    margin-top: 50px;
    display: flex;
}

.features-div {

    margin-right: 50px;
}

.features-title {
    font-size: 70px;
    border-left: 5px solid rgb(255, 144, 14);


}

.features-paragraph {
    font: 20px;
}

.featured-small-section {
    padding: 30px;
    margin: 30px;
    background-color: azure;
    border: 5px solid transparent;
    border-radius: 20px;

}

.featured-small-section p {
    margin-left: 16px;
    margin-right: 30px;
}

.features-img {
    position: relative;
    margin-right: 35px;

}

.experience {
    position: relative;
    top: -90px;
    left: -50px;


    padding: 40px;
    background-color: rgb(255, 144, 14);
    color: white;
    width: 230px;
    height: auto;
    text-align: center;
    border-radius: 10px;
}

.experience h3 {
    font-size: 3em;
    margin-bottom: 10px;
}

.experience p {
    font-size: 25px;
}

/* some facts section */
.some-facts {
    margin-left: 30px;
}

.some-facts-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    text-align: center;

}

.some-facts-container div {
    border: 2px solid rgb(188, 155, 72);
    width: 200px;
    height: 150px;
    padding: 15px;
    border-radius: 10px;
}

.some-facts-container img {
    width: 80px;
}

.some-facts-container h3 {
    font-size: 30px;
    color: rgb(69, 68, 67);
}

.some-facts-container p {
    font-size: 18px;
    font-weight: bold;
    color: rgb(112, 109, 109);
}

.sponsors {
    display: flex;
    justify-content: space-between;
    margin: 20px;

}

.sponsors-text-section {
    text-align: center;
}

.sponsors-text-section h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
}

.sponsors-text-section p {
    font-size: 18px;
    margin-bottom: 40px;
}

footer {
    padding: 40px;
    margin-bottom: 20px;
}